<%= stylesheet_link_tag 'pages' %>
<div class="container">
	<%= render 'navbar' %>
	</br>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
		    	<div class="col-sm-6">
					<label for="sellid">ID Penjualan</label>
					<input class="form-control form-control-sm" type="text" name="sellid" id="sellid" disabled>
				</div>
				<div class="col-sm-6">
					<label for="dateorder">Tanggal</label>
					<input class="form-control form-control-sm" type="date" name="dateorder" id="dateorder" disabled>
				</div> 
			</div></br>
			<div class="row">
				<div class="col-sm-12">
					<label for="code">Barcode/Kode Barang</label>
					<%= form_tag '', id: 'form-code' do %>
						<%= autocomplete_field_tag 'item', '', autocomplete_item_name_items_path, 'data-auto-focus': true, class: 'form-control form-control-sm' %>
					<% end %>
				</div>
			</div></br>
			<div class="row">
				<div class="col-sm-6">
					<a href="#" class="btn btn-primary btn-block">New</a>
				</div>
				<div class="col-sm-6">
					<a href="#" class="btn btn-danger btn-block">Clear</a>
				</div>
			</div></br>
			<div class="row">
				<div class="col-sm-6">
					<a href="#" class="btn btn-warning btn-block">Finish</a>
				</div>
				<div class="col-sm-6">
					<a href="#" class="btn btn-success btn-block">Print</a>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<h1 id="total" class="text-right">Total: Rp 0</h1></br>
		    <div style="height: 450px;overflow: auto;">
				<table id="items" class="table table-fixed">
					<thead class="thead-dark" style="font-size: 12px;">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Kode Barang</th>
							<th scope="col">Nama Barang</th>
							<th scope="col">Qty</th>
							<th scope="col">Subtotal</th> 
						</tr>
					</thead>
					<tbody style="font-size: 12px;">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag 'pages' %>
