<%= stylesheet_link_tag 'pages' %>
<div class="container">
	<%= render 'navbar' %>
	</br>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-sm-6">
					<label for="sellid">ID Penjualan</label>
					<input class="form-control form-control-sm" type="text" name="sellid" id="sellid" value="<%= @order_id %>" disabled>
				</div>
				<div class="col-sm-6">
					<label for="dateorder">Tanggal</label>
					<input id="date" class="form-control form-control-sm" type="date" name="dateorder" id="dateorder" disabled>
				</div>
			</div></br>
			<div class="row">
				<div class="col-sm-12">
					<label for="code">Barcode/Kode Barang</label>
					<%= form_tag '', id: 'form-code' do %>
						<%= autocomplete_field_tag 'item', '', autocomplete_item_name_items_path, 'data-auto-focus': true, class: 'form-control form-control-sm', autofocus: true %>
					<% end %>
				</div>
			</div></br>
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-primary">
						<h4 class="alert-heading">Shortcut</h4>
						<p>Ctrl+Panah Kanan: Ganti jumlah barang<br>Ctrl+Enter: Selesai transaksi<br>Ctrl+Delete: Hapus barang terakhir</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<button id="btn-new" type="button" class="btn btn-primary btn-block" data-btn="new" data-toggle="modal" data-target="#modal">
						New
					</button>
				</div>
				<div class="col-sm-6">
					<button id="btn-clear" type="button" class="btn btn-danger btn-block" data-btn="clear" data-toggle="modal" data-target="#modal">
						Clear
					</button>
				</div>
			</div></br>
			<div class="row">
				<div class="col-sm-6">
					<button id="btn-finish" type="button" class="btn btn-warning btn-block" data-btn="finish" data-toggle="modal" data-target="#modal">
						Finish
					</button>
				</div>
				<div class="col-sm-6">
					<button id="btn-print" type="button" class="btn btn-success btn-block" data-btn="print" data-toggle="modal" data-target="#modal">
						Print
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<h1 id="total" class="text-right">Total: Rp 0</h1></br>
						<div style="height: 450px;overflow: auto;">
							<table id="items" class="table table-fixed">
								<thead class="thead-dark" style="font-size: 12px;">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Kode Barang</th>
										<th scope="col">Nama Barang</th>
										<th scope="col" hidden>Price</th>
										<th scope="col">Qty</th>
										<th scope="col">Subtotal</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody style="font-size: 12px;">
								</tbody>
							</table>
						</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<%= javascript_include_tag 'pages' %>
